# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf

# Declare files that will always have CRLF line endings on checkout (if any)
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Denote all binary files that should not be modified by Git
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.splinecode binary
*.glb binary
*.gltf binary
*.bin binary
*.mp3 binary
*.wav binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
